body{
    margin: 0;
    background-color: #edf2fc;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 60px;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 30px;
}
.container-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.title{
    color:#444746;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 0px 16px 10px 16px;
    min-height: 70vh;
    gap: 30px;
}
.container-files{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
    min-height: 80%;
}

#listaArchivos{
    padding: 10px;
}
.file{
    padding: 10px 2px;
    border-top: solid 1px #a7a7a7;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.btn-white{
    box-shadow: var(--dt-surface1-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
    color: rgb(60,64,67);
    border: none;
    outline: none;
    cursor: pointer;
    height: 3.5rem;
    min-width: 6.25rem;
    padding: 1.125rem 1.25rem 1.125rem 1rem;
    place-content: center start;
    border-radius: 10px;
    background-color: #ffffff;
}
.btn-white:hover{
    background-color: #e3ecfc;
    box-shadow: var(5px 5px 5px 10px rgba(64, 67, 70, 0.3),5px 5px 3px 5px rgba(60,64,67,.15));
}
h2{
    display: flex;
    align-items: center;
    gap: 15px
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}
ul{
    padding: 0;
}
li{
    background-color: #c2e7ff;
    border-radius: 100px;
    height: 32px;
    padding: 0 10px;
    white-space: nowrap;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.container-search-grid{
    background-color: #e3ecfc;
    height: 40px;
    width: 80%;
    padding: 5px 10px;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    justify-content: center;
    align-items: center;
}
input[type="search"] {
    border: none;
    outline: none;
    border-radius: 100px;
    height: 100%;
    background: transparent;
}

.container-create-folder > #nombreCarpeta{
    padding: 10px;
    border-radius: 5px;
    height: 20px;
    border: 1px solid gray;
    outline: none;
}

.container-create-folder > #nombreCarpeta:focus{
    border: 2px solid #0b57d0;
}
.container-create-folder > button{
    color: #0b57d0;
    font-weight: 600;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 15px 10px;
    border-radius: 10px;
}

.container-create-folder > button:hover{
    background-color: #e3ecfc;
}


#uploadForm > .custom-file-upload{
    display: flex;
    justify-content: flex-start;
    border: dashed 2px #e3ecfc;
    height: 100px;
    width: 300px;
    margin-bottom: 16px;
}


